@tailwind base;
@tailwind components;
@tailwind utilities;

.list-item-circle-overlay {
  position: absolute;
  left: -15%;
  top:-28%;
  width: 130%;
  height: 100%;
  background: #ffffff;
  opacity: 20%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  z-index: 0;
}
